.order {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 16px;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.total > svg {
  width: 36px;
  height: 36px;
}