.item:last-child {
  margin-left: auto;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: inherit;
  text-decoration: none;
  border-radius: var(--common-border-radius-s);
}

.link.inactive {
  color: var(--text-inactive-color);
}