.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 720px;
  background-color: var(--background);
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.header {
  line-height: 64;
}

.close {
  position: absolute;
  top: 60px;
  right: 40px;
  cursor: pointer;
}
