*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--text-primary-light);
}

@font-face {
	font-weight: 400;
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-optical-sizing: auto;
	src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
	font-weight: 700;
	font-family: 'JetBrains Mono';
	font-optical-sizing: auto;
	font-style: normal;
	src: url('./fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

:root {
	--text-primary-light: #f2f2f3;
}

body {
	font-weight: 400;
	font-size: 16px;
	font-family: 'JetBrains Mono', monospace;
}

button {
	all: unset;
	display: inline-block;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}
