.list {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--text-inactive-color) var(--background-element);
}

.list::-webkit-scrollbar {
	width: 8px;
}

.list::-webkit-scrollbar-track {
	margin-bottom: 60px;
	background: var(--background-element);
}

.list::-webkit-scrollbar-thumb {
	background-color: var(--text-inactive-color);
}

.link {
	text-decoration: none;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-right: 8px;
	padding: 24px;
	background-color: var(--background);
	border-radius: 40px;
}

.id {
	display: flex;
	justify-content: space-between;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.done {
	color: var(--colors-interface-success);
}

.components {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	overflow: hidden;
}

.ingredients {
	display: flex;
	overflow-x: auto;
	list-style: none;
	scrollbar-width: thin;
	scrollbar-color: var(--text-inactive-color) var(--background-element);
}

.ingredients::-webkit-scrollbar {
	height: 8px;
}

.ingredients::-webkit-scrollbar-track {
	background: var(--background-element);
}

.ingredients::-webkit-scrollbar-thumb {
	background-color: var(--text-inactive-color);
}

.ingredient {
	position: relative;
	flex-shrink: 0;
	width: 64px;
	height: 64px;
	background-image: linear-gradient(to right, #801ab2 0%, #4c4cff 100%);
	border-radius: 100px;
}

.preview {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background-color: var(--background-alt);
	border-radius: 100px;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.preview-overlay {
	filter: brightness(0.6);
}

.preview-amount {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.price {
	display: flex;
	gap: 8px;
}
